<h3 class="bg-purpule-800 text-white">Latest Collection</h3>
<div *ngIf="categoryList" class="categoryList">
    <ul class="list-group">
        <li class="list-group-item bg-light" *ngFor="let cat of categoryList.categories">{{cat.categoryName}}</li>
      </ul>  
</div>
<div *ngIf="!categoryList" class="categoryList">
Loading...
</div>
<h3 class="bg-purpule-800 text-white">Tuljai Craft & Gifts</h3>
<p>
We have a vast scope of gifts that are appropriate for the kids and grown-ups, for example, school supplies, keychains , and pens to kitchen utensils. We are additionally a retailer of Hello Kitty and Ty and move famous and popular toys, for example, whirligigs, squishies, and LOL dolls.<br>

New arrival stocks like taxi/metro vehicles, snow globes, containers/mugs, magnets and postcards can likewise be obtained here.<br>

We have a vast scope of gifts that are appropriate for the two kids and grown-ups, for example, school supplies, keychains, and pens to kitchen utensil. We are additionally a retailer of Hello Kitty and Ty and move famous and popular toys, for example, squishies and LOL dolls. <br>

Our handmade craft way to deal with Full Customer Satisfaction implies that you can depend on ‘Tuljai Craft & Gifts Center wardha’ to ensure your request is in every case right and that your gifts devilver on the time one's the order recived.<br>
Our Gift Basket Designers are the best in the business, venturing to the far corners of the planet for the most faultless flavors, exceptional quality and the most extreme esteem found anyplace.


</p>

