<h2>Contact Us</h2>
<p>
  {{ contactData.shopName }} <br />
  {{ contactData.address }}<br />
  {{ contactData.email }}
</p>
<div class="row">
  <div class="col-lg-6 col-md-6 col-xs-12">
    <form [formGroup]="contactForm" (ngSubmit)="sendMessage()">
      <div class="form-group mix_form-group-alertBox" *ngIf="isMessageSend">
        <div class="alert bg-purpule-100">Message sent successfully.</div>
      </div>
      <div class="form-group">
        <label for="">Firstname</label>
        <input
          type="text"
          formControlName="firstName"
          id=""
          class="form-control"
          [ngClass]="{ 'is-invalid': f.firstName.errors && formSubmitted }"
        />
      </div>
      <div *ngIf="f.firstName.errors && formSubmitted">
        <div class="text-danger" *ngIf="f.firstName.errors.required">
          Firstname is required
        </div>
      </div>
      <div class="form-group">
        <label for="">Lastname</label>
        <input
          type="text"
          name="lastName"
          formControlName="lastName"
          id=""
          class="form-control"
          [ngClass]="{ 'is-invalid': f.lastName.errors && formSubmitted }"
        />
      </div>
      <div *ngIf="f.lastName.errors && formSubmitted">
        <div class="text-danger" *ngIf="f.lastName.errors.required">
          Lastname is required
        </div>
      </div>
      <div class="form-group">
        <label for="">Email</label>
        <input
          type="email"
          name="email"
          formControlName="email"
          id=""
          class="form-control"
          [ngClass]="{ 'is-invalid': f.email.errors && formSubmitted }"
        />
      </div>
      <div *ngIf="f.email.errors && formSubmitted">
        <div class="text-danger" *ngIf="f.email.errors.required">
          Email is required
        </div>
        <div class="text-danger" *ngIf="f.email.errors.email">
          Please enter valid email address.
        </div>        
      </div>
      <div class="form-group">
        <label for="">Visitor Message</label>
        <textarea
          name="message"
          id=""
          cols="30"
          rows="3"
          formControlName="message"
          class="form-control"
          [ngClass]="{ 'is-invalid': f.message.errors && formSubmitted }"
        ></textarea>
      </div>
      <div *ngIf="f.message.errors && formSubmitted">
        <div
          class="text-danger"
          *ngIf="f.message.errors.required"
        >
          Message is required
        </div>
      </div>
      <div class="form-group">
        <br />
        <button type="submit" class="btn mix-btn_page-btn bg-purpule-600">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-messenger" viewBox="0 0 16 16">
            <path d="M0 7.76C0 3.301 3.493 0 8 0s8 3.301 8 7.76-3.493 7.76-8 7.76c-.81 0-1.586-.107-2.316-.307a.639.639 0 0 0-.427.03l-1.588.702a.64.64 0 0 1-.898-.566l-.044-1.423a.639.639 0 0 0-.215-.456C.956 12.108 0 10.092 0 7.76zm5.546-1.459-2.35 3.728c-.225.358.214.761.551.506l2.525-1.916a.48.48 0 0 1 .578-.002l1.869 1.402a1.2 1.2 0 0 0 1.735-.32l2.35-3.728c.226-.358-.214-.761-.551-.506L9.728 7.381a.48.48 0 0 1-.578.002L7.281 5.98a1.2 1.2 0 0 0-1.735.32z"/>
          </svg> Send
        </button>
      </div>
    </form>
  </div>
  <div class="col-lg-6 col-md-6 col-xs-12">
    <iframe
      class="border border-primary"
      src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d233.08678794758603!2d78.59141707888696!3d20.81600843786623!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1640525304901!5m2!1sen!2sin"
      width="100%"
      height="300"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
    ></iframe>
  </div>
  <div class="clearfix"></div>
</div>
